<footer class="page__area-footer">
    <div class="footer homepage__container">
        <div class="footer__header">
            <img src="../../img/confab.png" alt="Logo">
            <div class="footer__social-networks social-networks">
                <a class="social-networks__item" href="#">
                    <i class="icon icon_twitter"></i>
                </a>
                <a class="social-networks__item" href="#">
                    <i class="icon icon_medium"></i>
                </a>
                <a class="social-networks__item" href="#">
                    <i class="icon icon_instagram"></i>
                </a>
                <a class="social-networks__item" href="#">
                    <i class="icon icon_linkedin"></i>
                </a>
            </div>
        </div>
        <div class="footer__container">
            <div class="footer__content">
                <p class="footer__description">
                    Virtual meetings, and conferences,
                    anyone can share, join or host (virtual events).
                </p>
                <div class="footer__btn-group">
                    <button class="footer__btn btn btn_color_white btn_type_icon btn_type_icon-before btn_type_round">
                        <i class="btn__icon-before icon icon_add"></i>
                        New event or meeting
                    </button>
                </div>
            </div>
            <div class="footer__list list">
                <p class="list__header">Menu</p>
                <a class="list__item link" href="#">Confab Platform Overview</a>
                <a class="list__item link" href="#">New Event or Meetings</a>
                <a class="list__item link" href="#">Customer Stories</a>
                <a class="list__item link" href="#">Confab Events</a>
            </div>
            <div class="footer__list list">
                <p class="list__header">About us</p>
                <a class="list__item link" href="#">Contact Us</a>
                <a class="list__item link" href="#">Our Team</a>
                <a class="list__item link" href="#">Careers</a>
                <a class="list__item link" href="#">Prees</a>
            </div>
        </div>
    </div>
    <div class="bg bg_color_cloudy">
        <div class="footer__footer homepage__container">
            <p class="footer__item">© 2022 Confab. All rights reserved.</p>
            <a href="#" class="footer__item footer__policy">Privacy Policy</a>
            <a href="#" class="footer__item footer__policy">Terms & Conditions</a>
        </div>
    </div>
</footer>