<header class="header grid__area" style="--grid-area: header">
    <a class="header__logo" href="#">confab</a>
    <a class="header__link link link_type_icon-after" href="#">
        Browse
        <i class="link__icon-after icon icon_expand_more"></i>
    </a>
    <a class="header__link link" href="#">Enter a code/link</a>
    <a class="header__link link" href="#">Confab</a>
    <button class="header__btn btn btn_type_round btn_type_icon btn_type_icon-before">
        <i class="btn__icon-before icon icon_add"></i>
        New event
    </button>
</header>